.fundoLogin {
    background-image: url("https://ik.imagekit.io/alanaoliv/anas-alshanti-feXpdV001o4-unsplash.jpg?updatedAt=1739795283435");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}